#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: #dff5ff;

}





#logoName{
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
}
